<div>
  <div class="card card-white post">
    <div class="post-heading">
      <div class="float-left image">
        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
      </div>
      <div class="float-left meta">
        <div class="title h5">
          <a><b>Write a comment</b></a>
        </div>
        <textarea [(ngModel)]="comment.text" name="comment-area" class="comment-text"></textarea>
        <button (click)="addComment()" style="width: 70px; height: 50px;"></button>
      </div>
    </div>
    
  </div>
</div>
