<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
    <div class="container">
      <img style="width: 10%;" src="https://i.ibb.co/54VMxvb/cyberlogo-1.png" alt="">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-white" [routerLink]="['/']">Home</a>
          </li>

          <li *ngIf="isLoggedIn === false" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['login']">Login</a>
          </li>
          <li *ngIf="isLoggedIn === false" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['register']">Register</a>
          </li>


          <li *ngIf="isLoggedIn === true" class="nav-item logout">
            <a class="nav-link text-white">Profile</a>
          </li>
          <li *ngIf="isLoggedIn === true" class="nav-item logout">
            <a class="nav-link text-white" (click)="Logout()">Logout</a>
          </li>

          <li *ngIf="isAdmin=== true" class="nav-item logout" [routerLink]="['admin-panel']">
            <a class="nav-link text-white">Admin Panel</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>